BasedOnStyle: LLVM
PointerAlignment: Left  # Adjust to Right if needed
BreakBeforeBraces: Allman
ColumnLimit: 0
IndentWidth: 8
TabWidth: 8
UseTab: Always
AlignAfterOpenBracket: Align
AlignOperands: true
AllowShortFunctionsOnASingleLine: All
BreakBeforeBinaryOperators: NonAssignment
AllowShortBlocksOnASingleLine: Empty
